html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.title{
    margin-top: 0;
    padding-top: 0;
}

.logo img{
    position:absolute;
    width: 180px;
    left: 25px;
    top:15px
}

nav {
    position: sticky;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color:gray;
    text-align: right;
    margin: 0;
    padding:0px!important;
    transition: 1s;
}

nav.black ul {
    background: #f5f5ff;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li:hover,
nav ul li .item{
    background: #a4ad9a;
}
}
nav ul li a {
    text-decoration: none!important;
    color: #cbd9a3;
    font-size: 16px;
    font-weight: 100;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #f5f5f5;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* responsive nav */
@media(max-width: 786px) {

    nav ul {
          max-height: 0px;
          background: #a4ad9a;;
    }

    nav.black ul {
          background-color: #a4ad9a;
    }

    nav ul li:hover,
    nav ul li #active{
        background: #f5f5f5 !important;
        color: #cbd9a3;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
a{
    text-decoration: none!important;
    color: #cbd9a3!important;
    text-transform: uppercase;
    font-weight: bold;
}


